@model dynamic

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home">
    
    <div class="container">
        <div class="main-content">
            <div class="row">

                <br/><br/>
                <br/>
                <br/>
                <!-- START SERVICE  -->
		<section id="service" class="our_service section-padding">
			<div class="container">
				<div class="row text-center">
				@*	<div class="section-title wow zoomIn">
						<h2>PIP Dashboard</h2>
						<span></span>
						<p>&nbsp;</p>
					</div>*@
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-circle-o-notch"></i>
							<h4><a href="@Url.Action("Index","Concept")">Initialte Concept</a></h4>
							<p>.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-keyboard-o"></i>
							<h4>Product Analysis & Specing</h4>
							<p>.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-bullhorn"></i>
							<h4>Advertising</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-life-bouy"></i>
							<h4>Planning</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-briefcase"></i>
							<h4>Online Support</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_service">
							<i class="fa fa-camera-retro"></i>
							<h4>Super Ideas</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
						</div>
					</div><!--END COL -->
				</div><!--END  ROW -->
			</div><!-- END CONTAINER -->
		</section>
               
            </div>
        </div>
    </div>
       
</section>


        
   